* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  width: min(450px,90%);
  background-color: #fff;
  border-radius: 0.5em;
  padding: 3rem;
  margin: 1.5rem auto 2rem;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px 0px;
}

label {
  font-size:0.875rem;
  font-weight: 600;
}

h1{
  font-size:2rem;
}

h2{
  font-size:1.25rem;
    font-weight: 400;
    margin-bottom:1rem;
}

footer {
  padding: 2rem;
}

.content {
  display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
}

.bar {
  height: 300px;
  width: 10px;
  background-color: gray;
}

.plate {
  border: 1px solid black;
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease;
    flex: 1;
}

.result .plate div {
  transition: transform 0.5s ease;
}

.result .plate {
    padding: 0.1rem;
}

@media (min-width: 600px) {
  .result {
    transform: rotate(90deg);
  }

  .result .plate div {
    transform: rotate(-90deg);
  }
}
